Repository KSP-SpaceDock/SpaceDock, pull requests merged in 2021-05, with the labels that each got.

#346 Profiling with admin visualization for the backend
  KerbalStuff/app.py
  KerbalStuff/blueprints/admin.py
  KerbalStuff/middleware/__init__.py
  KerbalStuff/middleware/profiler.py
  KerbalStuff/profiling.py
  config.ini.example
  requirements-backend.txt
  templates/admin-profiling-viz.html
  templates/admin-profiling.html
  templates/admin.html
Labels: Priority: Normal, Status: Ready, Type: Backend, Type: Feature, Type: Frontend

#347 Fall back to unprofiled if profile dir is unwritable
  KerbalStuff/blueprints/admin.py
  KerbalStuff/middleware/profiler.py
  templates/admin-page-nav.html
Labels: Priority: Normal, Type: Backend, Type: Bug

#345 Filter junk out of admin pages and make site 10x faster
  KerbalStuff/app.py
  KerbalStuff/blueprints/admin.py
  templates/admin-game-versions.html
  templates/admin-games.html
  templates/admin-page-nav.html
  templates/admin-publishers.html
  templates/admin-users.html
Labels: Priority: Normal, Status: Ready, Type: Backend, Type: Frontend, Type: Improvement

#349 Cache results of common database queries
  KerbalStuff/app.py
  KerbalStuff/blueprints/accounts.py
  KerbalStuff/blueprints/anonymous.py
  KerbalStuff/blueprints/api.py
  KerbalStuff/blueprints/lists.py
  KerbalStuff/blueprints/mods.py
  KerbalStuff/common.py
  KerbalStuff/search.py
  requirements-backend.txt
Labels: Priority: Normal, Status: Ready, Type: Backend, Type: Improvement

#351 Better messaging for descriptionless modpacks
  templates/mod_list.html
Labels: Priority: Low, Type: Bug, Type: Frontend

#352 Revert caching of database queries
  KerbalStuff/app.py
  KerbalStuff/common.py
  KerbalStuff/search.py
  requirements-backend.txt
Labels: Priority: High, Type: Backend, Type: Bug

#343 Improve mod box appearance
  KerbalStuff/blueprints/profile.py
  frontend/coffee/edit_pack.coffee
  frontend/coffee/global.coffee
  frontend/static/css/bootstrap-theme.css
  frontend/static/images/background-s.jpg
  frontend/static/images/background-s.png
  frontend/styles/listing.scss
  frontend/styles/profile.scss
  templates/edit_list.html
  templates/featured-mod-box.html
  templates/game-box.html
  templates/layout.html
  templates/mod-box.html
  templates/pack-box.html
  templates/view_profile.html
Labels: Priority: Normal, Status: Ready, Type: Frontend, Type: Improvement

#353 Freeze dependencies on version they have at deployment
  .gitignore
  KerbalStuff/middleware/profiler.py
  docker-compose.yml
  prepare.sh
  requirements-backend.txt
  requirements-celery.txt
  requirements-prod.txt
Labels: Priority: Normal, Status: Need Feedback, Type: Backend, Type: Bug

#355 α → β ⓼
  .gitignore
  KerbalStuff/app.py
  KerbalStuff/blueprints/accounts.py
  KerbalStuff/blueprints/admin.py
  KerbalStuff/blueprints/anonymous.py
  KerbalStuff/blueprints/api.py
  KerbalStuff/blueprints/lists.py
  KerbalStuff/blueprints/mods.py
  KerbalStuff/blueprints/profile.py
  KerbalStuff/common.py
  KerbalStuff/middleware/__init__.py
  KerbalStuff/middleware/profiler.py
  KerbalStuff/objects.py
  KerbalStuff/profiling.py
  KerbalStuff/search.py
  config.ini.example
  docker-compose.yml
  frontend/coffee/edit_pack.coffee
  frontend/coffee/global.coffee
  frontend/coffee/update.coffee
  frontend/static/css/bootstrap-theme.css
  frontend/static/images/background-s.jpg
  frontend/static/images/background-s.png
  frontend/styles/listing.scss
  frontend/styles/profile.scss
  prepare.sh
  requirements-backend.txt
  requirements-celery.txt
  requirements-prod.txt
  templates/admin-game-versions.html
  templates/admin-games.html
  templates/admin-page-nav.html
  templates/admin-profiling-viz.html
  templates/admin-profiling.html
  templates/admin-publishers.html
  templates/admin-users.html
  templates/admin.html
  templates/edit_list.html
  templates/featured-mod-box.html
  templates/game-box.html
  templates/layout.html
  templates/mod-box.html
  templates/mod_list.html
  templates/pack-box.html
  templates/update.html
  templates/view_profile.html
  tests/__init__.py
  tests/test_objects_user.py
Labels: Priority: High, Status: Ready, Type: Backend, Type: Bug, Type: Feature, Type: Frontend, Type: Improvement
