Repository KSP-SpaceDock/SpaceDock, pull requests merged in 2021-10, with the labels that each got.

#382 Fix follow buttons
  KerbalStuff/blueprints/mods.py
  frontend/coffee/global.coffee
  frontend/styles/listing.scss
  frontend/styles/mod.scss
  templates/layout.html
  templates/mod-box.html
  templates/mod.html
Labels: Type: Bug, Area: Backend, Priority: Normal, Status: Ready, Area: Frontend

#394 Update to NodeJS 16 & run npm ci on deployment
  README.md
  build-frontend.sh
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Labels: Type: Improvement, Priority: Normal, Status: Ready, Area: Frontend

#393 Send source link to CKAN
  KerbalStuff/ckan.py
Labels: Type: Improvement, Area: Backend, Priority: Low, Status: Ready

#396 Handle null text in first_paragraphs()
  KerbalStuff/common.py
Labels: Type: Bug, Area: Backend, Priority: Normal, Status: Ready
