Repository KSP-SpaceDock/SpaceDock, pull requests merged in 2021-03, with the labels that each got.

#338 Move Piwik JS blob into own static file and other cleanup
  KerbalStuff/app.py
  KerbalStuff/blueprints/api.py
  KerbalStuff/common.py
  KerbalStuff/helpers.py
  KerbalStuff/objects.py
  config.ini.example
  frontend/static/js/piwik_loader.js
  templates/edit_blog.html
  templates/edit_list.html
  templates/edit_mod.html
  templates/footer.html
  templates/game.html
  templates/jsblocks.html
  templates/layout.html
Labels: Priority: Normal, Type: Backend, Type: Frontend, Type: Improvement

#339 Abbreviate link for mod source code repository
  KerbalStuff/blueprints/mods.py
  templates/mod.html
Labels: Priority: Low, Type: Backend, Type: Frontend, Type: Improvement

#340 α → β ⓻
  KerbalStuff/app.py
  KerbalStuff/blueprints/anonymous.py
  KerbalStuff/blueprints/api.py
  KerbalStuff/blueprints/lists.py
  KerbalStuff/blueprints/mods.py
  KerbalStuff/blueprints/profile.py
  KerbalStuff/ckan.py
  KerbalStuff/common.py
  KerbalStuff/helpers.py
  KerbalStuff/kerbdown.py
  KerbalStuff/objects.py
  config.ini.example
  docker-compose-prod.yml
  docker-compose.yml
  frontend/build.js
  frontend/coffee/create.coffee
  frontend/coffee/edit_mod.coffee
  frontend/coffee/global.coffee
  frontend/coffee/list.coffee
  frontend/coffee/mods.coffee
  frontend/coffee/profile.coffee
  frontend/coffee/stats.coffee
  frontend/coffee/statworker.coffee
  frontend/coffee/update.coffee
  frontend/package-lock.json
  frontend/package.json
  frontend/static/css/bootstrap-theme.css
  frontend/static/images/error_404.jpg
  frontend/static/images/error_4XX.jpg
  frontend/static/images/error_5XX.jpg
  frontend/static/js/chart.js
  frontend/static/js/piwik_loader.js
  frontend/styles/create.scss
  frontend/styles/update.scss
  requirements-backend.txt
  templates/create.html
  templates/edit_blog.html
  templates/edit_list.html
  templates/edit_mod.html
  templates/error_404.html
  templates/error_4XX.html
  templates/error_5XX.html
  templates/footer.html
  templates/game.html
  templates/jsblocks.html
  templates/layout.html
  templates/mod-box.html
  templates/mod.html
  templates/mod_list.html
  templates/pack-box.html
  templates/rss-mod.xml
  templates/update.html
  templates/view_profile.html
  tests/test_errors.py
Labels: Priority: Normal, Status: Ready, Type: Backend, Type: Bug, Type: Feature, Type: Frontend, Type: Improvement
