Repository KSP-SpaceDock/SpaceDock, pull requests merged in 2023-03, with the labels that each got.

#466 Add game ID filter
  KerbalStuff/blueprints/api.py
Labels: Type: Bug, Area: Backend, Priority: Normal, Type: Feature, Status: Ready, Scope: Medium

#467 Add browse filters to api doc, filter by friendly game version
  KerbalStuff/blueprints/api.py
  api.md
Labels: Type: Improvement, Area: Backend, Status: Ready, Scope: Trivial

#470 Check user profile field lengths
  KerbalStuff/blueprints/profile.py
Labels: Type: Bug, Area: Backend, Priority: High, Status: Ready, Scope: Trivial

#421 Clean up login/register layout
  templates/login.html
  templates/register.html
Labels: Type: Improvement, Priority: Low, Status: Ready, Area: Frontend, Scope: Trivial

#423 Admin pagination usability fixes
  frontend/styles/stylesheet.scss
  templates/admin-page-nav.html
Labels: Type: Improvement, Priority: Low, Status: Ready, Area: Frontend, Scope: Medium

#425 Co-authorship fixes
  KerbalStuff/blueprints/api.py
  KerbalStuff/blueprints/mods.py
  KerbalStuff/blueprints/profile.py
  KerbalStuff/objects.py
  KerbalStuff/search.py
  frontend/coffee/edit_mod.coffee
  templates/edit_mod.html
Labels: Type: Bug, Area: Backend, Priority: Low, Type: Feature, Status: Ready, Area: Frontend, Scope: Medium

#426 Widescreen layout for mod page
  templates/mod.html
Labels: Type: Improvement, Priority: Low, Status: Ready, Area: Frontend, Scope: Trivial

#427 Fix mobile hamburger menu and search
  frontend/static/css/bootstrap-theme.css
  frontend/styles/navigation.scss
  templates/layout.html
Labels: Type: Bug, Priority: Low, Status: Ready, Area: Frontend, Scope: Medium

#431 Paginated search buttons
  templates/browse-list.html
Labels: Priority: Normal, Type: Feature, Status: Ready, Area: Frontend, Scope: Trivial

#435 Send download size, co-authors, and authors' GitHub and forum names to CKAN
  KerbalStuff/ckan.py
Labels: Area: Backend, Priority: Low, Type: Feature, Status: Ready, Scope: Trivial

#441 Parse @username links and colon emoji codes in markdown
  KerbalStuff/app.py
  KerbalStuff/kerbdown.py
  requirements-backend.txt
  templates/markdown.html
Labels: Area: Backend, Priority: Low, Type: Feature, Status: Ready, Scope: Medium

#451 API route for auto-generated remote version files
  KerbalStuff/blueprints/api.py
Labels: Area: Backend, Priority: Low, Type: Feature, Status: Ready, Scope: Medium

#428 Allow mod authors to replace downloads
  KerbalStuff/blueprints/api.py
  KerbalStuff/blueprints/mods.py
  KerbalStuff/purge.py
  frontend/coffee/mods.coffee
  frontend/styles/mod.scss
  templates/mod.html
Labels: Area: Backend, Priority: Normal, Type: Feature, Status: Ready, Area: Frontend, Area: Infrastructure, Scope: Large

#414 Deferred loading and pre-rendering for mod changelogs
  KerbalStuff/blueprints/api.py
  KerbalStuff/blueprints/mods.py
  KerbalStuff/common.py
  KerbalStuff/objects.py
  alembic/versions/2021_10_27_20_24_54-1b3f98f3620d.py
  frontend/coffee/mods.coffee
  templates/mod.html
  templates/mod_changelog.html
Labels: Type: Improvement, Area: Backend, Priority: Normal, Status: Ready, Area: Frontend, Area: Migration, Scope: Large

#416 Fix downloads performance
  KerbalStuff/app.py
  KerbalStuff/blueprints/admin.py
  KerbalStuff/blueprints/anonymous.py
  KerbalStuff/blueprints/api.py
  KerbalStuff/blueprints/lists.py
  KerbalStuff/blueprints/mods.py
  KerbalStuff/common.py
  KerbalStuff/objects.py
  KerbalStuff/search.py
  alembic/versions/2021_10_28_10_32_09-44040211d4e7.py
Labels: Type: Improvement, Area: Backend, Priority: Normal, Status: Ready, Area: Migration, Scope: Large

#422 Fix modpack backgrounds and thumbnails
  KerbalStuff/blueprints/api.py
  KerbalStuff/blueprints/lists.py
  KerbalStuff/common.py
  KerbalStuff/objects.py
  KerbalStuff/thumbnail.py
  alembic/versions/2021_11_04_12_36_53-beb0f0da734e.py
  alembic/versions/alembic.pyi
  frontend/coffee/edit_pack.coffee
  templates/edit_list.html
  templates/mod_list.html
  templates/pack-box.html
Labels: Type: Bug, Area: Backend, Priority: Normal, Status: Ready, Area: Frontend, Area: Migration, Scope: Large

#419 Add Locked Mods tab to admin pages
  KerbalStuff/blueprints/admin.py
  KerbalStuff/objects.py
  alembic/versions/2023_03_03_22_00_00-76ba7330ce15.py
  templates/admin-locked-mods.html
  templates/admin.html
Labels: Area: Backend, Priority: Low, Type: Feature, Status: Ready, Area: Migration, Scope: Medium

#418 Non-public draft blog posts
  KerbalStuff/app.py
  KerbalStuff/blueprints/blog.py
  KerbalStuff/objects.py
  alembic/versions/2023_03_03_22_10_00-3a9de8cf341d.py
  templates/admin-blog.html
  templates/edit_blog.html
Labels: Area: Backend, Priority: Low, Type: Feature, Status: Ready, Area: Frontend, Area: Migration, Scope: Medium

#400 HTML emails
  KerbalStuff/celery.py
  KerbalStuff/email.py
  frontend/coffee/mods.coffee
  frontend/coffee/update.coffee
  templates/edit_mod.html
  templates/email-everyone.html
  templates/email-mod-autoupdated.html
  templates/email-mod-updated.html
  templates/mod.html
Labels: Area: Backend, Area: Email, Priority: Low, Type: Feature, Status: Ready, Scope: Large

#430 Option to profile everything, save data only for slow responses
  KerbalStuff/app.py
  KerbalStuff/middleware/profiler.py
  config.ini.example
Labels: Area: Backend, Priority: Low, Type: Feature, Status: Ready, Scope: Medium

#472 β → 🜚🏭 ❻
  KerbalStuff/antivirus.py
  KerbalStuff/app.py
  KerbalStuff/blueprints/admin.py
  KerbalStuff/blueprints/anonymous.py
  KerbalStuff/blueprints/api.py
  KerbalStuff/blueprints/blog.py
  KerbalStuff/blueprints/lists.py
  KerbalStuff/blueprints/mods.py
  KerbalStuff/blueprints/profile.py
  KerbalStuff/celery.py
  KerbalStuff/ckan.py
  KerbalStuff/common.py
  KerbalStuff/email.py
  KerbalStuff/kerbdown.py
  KerbalStuff/middleware/profiler.py
  KerbalStuff/objects.py
  KerbalStuff/purge.py
  KerbalStuff/search.py
  KerbalStuff/thumbnail.py
  alembic/versions/2021_10_27_20_24_54-1b3f98f3620d.py
  alembic/versions/2021_10_28_10_32_09-44040211d4e7.py
  alembic/versions/2021_11_04_12_36_53-beb0f0da734e.py
  alembic/versions/2023_03_03_22_00_00-76ba7330ce15.py
  alembic/versions/2023_03_03_22_10_00-3a9de8cf341d.py
  alembic/versions/alembic.pyi
  api.md
  config.ini.example
  docker-compose.yml
  frontend/coffee/edit_mod.coffee
  frontend/coffee/edit_pack.coffee
  frontend/coffee/global.coffee
  frontend/coffee/mods.coffee
  frontend/coffee/update.coffee
  frontend/package-lock.json
  frontend/package.json
  frontend/static/css/bootstrap-theme.css
  frontend/styles/mod.scss
  frontend/styles/navigation.scss
  frontend/styles/stylesheet.scss
  requirements-backend.txt
  templates/admin-blog.html
  templates/admin-locked-mods.html
  templates/admin-page-nav.html
  templates/admin.html
  templates/browse-list.html
  templates/edit_blog.html
  templates/edit_list.html
  templates/edit_mod.html
  templates/email-everyone.html
  templates/email-mod-autoupdated.html
  templates/email-mod-updated.html
  templates/layout.html
  templates/login.html
  templates/markdown.html
  templates/mod.html
  templates/mod_changelog.html
  templates/mod_list.html
  templates/pack-box.html
  templates/register.html
Labels: Type: Bug, Type: Improvement, Area: Backend, Area: Email, Priority: High, Type: Feature, Status: Ready, Area: Frontend, Area: Migration, Scope: Large, dependencies

#475 Lock icon for locked mods
  frontend/styles/listing.scss
  templates/mod-box.html
Labels: Priority: Low, Type: Feature, Status: Ready, Area: Frontend, Scope: Trivial

#478 Game thumbnails
  KerbalStuff/blueprints/anonymous.py
  KerbalStuff/blueprints/api.py
  KerbalStuff/blueprints/lists.py
  KerbalStuff/objects.py
  KerbalStuff/thumbnail.py
  alembic/versions/2023_03_14_18_49_21-b9e4c97b74c1.py
  frontend/coffee/game.coffee
  templates/game.html
Labels: Area: Backend, Priority: Normal, Type: Feature, Status: Ready, Area: Frontend, Area: Migration, Scope: Medium

#479 Auto-import KSP2 versions from CKAN
  KerbalStuff/celery.py
  KerbalStuff/ckan.py
  config.ini.example
Labels: Area: Backend, Priority: Normal, Type: Feature, Status: Ready, Scope: Medium

#316 [WIP] Add cascade delete constraints, allow users to delete their accounts
  KerbalStuff/blueprints/api.py
  KerbalStuff/blueprints/mods.py
  KerbalStuff/objects.py
  alembic/versions/2023_03_20_12_00_00-7eec82634342.py
  alembic/versions/alembic.pyi
  frontend/coffee/profile.coffee
  templates/profile.html
  templates/view_profile.html
Labels: Area: Backend, Priority: Normal, Type: Feature, Status: In Progress, Area: Frontend, Area: Migration, Scope: Large

#417 Admin users list usability, buttons to delete users
  KerbalStuff/blueprints/admin.py
  frontend/coffee/admin-users.coffee
  templates/admin-users.html
Labels: Type: Improvement, Area: Backend, Priority: Low, Type: Feature, Status: Ready, Area: Frontend, Scope: Medium

#480 Generic notifications
  KerbalStuff/antivirus.py
  KerbalStuff/blueprints/admin.py
  KerbalStuff/blueprints/api.py
  KerbalStuff/blueprints/mods.py
  KerbalStuff/celery.py
  KerbalStuff/ckan.py
  KerbalStuff/config.py
  KerbalStuff/notification.py
  KerbalStuff/objects.py
  KerbalStuff/search.py
  alembic/versions/2023_03_20_16_00_00-f7d352d49c2b.py
  alembic/versions/alembic.pyi
  api.md
  config.ini.example
  frontend/coffee/create.coffee
  templates/admin-notification-edit.html
  templates/admin-notifications.html
  templates/admin.html
  templates/create.html
  templates/create_list.html
  templates/edit_mod.html
  templates/layout.html
  templates/mod.html
  tests/fixtures/fake_config.py
  tests/test_api_mod.py
Labels: Area: Backend, Priority: Normal, Type: Feature, Status: Ready, Area: Frontend, Area: Migration, Scope: Large

#481 Easier sorting
  KerbalStuff/blueprints/anonymous.py
  KerbalStuff/search.py
  templates/browse-list.html
Labels: Priority: Normal, Type: Feature, Status: Ready, Area: Frontend, Scope: Medium
